@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/*
permanent marker font -> font-family: "Permanent Marker", cursive;
bebas font -> font-family: "Bebas Neue", sans-serif;
*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #393E46;
}

#title {
    color: #00ADB5;
    font-family: "Permanent Marker", cursive;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
@keyframes glow-animation {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 5px #00ADB5, 0 0 15px #fff, 0 0 20px #00ADB5;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 10px #00ADB5, 0 0 30px #fff, 0 0 40px #00ADB5;
    }
    100% {
        text-shadow: 0 0 5px #fff, 0 0 5px #00ADB5, 0 0 15px #fff, 0 0 20px #00ADB5;
    }
}
#title{
    animation: glow-animation 2s infinite alternate;
}

#completedBtn,
#addExerciseBtn,
#hideBtn, 
#addToListBtn {
    background-color: #222831;
    padding: 10px;
    color: #00ADB5;
    border-radius: 10px;
}

#deleteBtn,
#resetBtn{
    background-color: #ff325bfc;
    padding: 10px;
    color: #fcfcfc;
    border-radius: 10px;
    margin-top: 10px;
}

#addExerciseBtn:hover {
    color: white;
    box-shadow: 2px 2px 10px;
}

#resetBtn:hover {
    color: rgb(225, 6, 6);
    box-shadow: 3px 3px 10px;
}

#addToListBtn:hover {
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px;
}

#hideBtn:hover {
    color: rgb(229, 247, 66);
    box-shadow: 3px 3px 10px;
}

label {
    color: white;
}

.trashbtn {
    padding: 0 15px;
    color: red;
}

table {
    background-color: #393E46;
    margin-top: 25px;
}